@page "/"

<PageTitle>Index</PageTitle>

@if (_order == null)
{
    <p>Loading Order</p>
}
else
{
    @foreach(var orderItem in _order.Items)
    {
        <OrderItem @key="orderItem" Item="@orderItem.Key" Quantity="@orderItem.Value" OnQuantityChanged="" />
    }

    <p>Order Total: </p>@_order.Total.ToString("C")
}
@code {
    private Order<ProductBase>? _order = null;

    protected override Task OnInitializedAsync()
    {
        _order = new Order<ProductBase>(new Dictionary<ProductBase, int>
            {
                { new ProductA(), 0 },
                { new ProductB(), 0 },
                { new ProductC(), 0 },
                { new ProductD(), 0 }
            }, ActivePromotions.Promotions);

        return base.OnInitializedAsync();
    }

    private void UpdateLastMultipleOfThreeValue((ProductBase Product, int Quanity) args)
    {
        _order.UpdateQuantity(args.product, args.Quanity);
    }
}
