<label>@Item.SkuId</label>

<input type="number" min="0" max="999" step="1" value="@Quantity" @onchange="ChangeQuantity" />
<br />
<br />

@code {
    [EditorRequired]
    [Parameter]
    public ProductBase Item { get; set; }

    [EditorRequired]
    [Parameter]
    public int Quantity { get; set; }

    [Parameter]
    public EventCallback<(ProductBase product, int Quanity)> OnQuantityChanged { get; set; }

    private async Task ChangeQuantity(ChangeEventArgs args)
    {
        Quantity = Convert.ToInt32(args.Value.ToString());
        await OnQuantityChanged.InvokeAsync((Item, Quantity));
    }
}
